name: add screenshot gallery link as comment
on:
  - status

jobs:
  add_screenshot_gallery_link_as_comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJSON(github.event) }}
        run: echo "$GITHUB_CONTEXT"

      - run: echo "Commit status is ${STATE}"
        env:
          STATE: ${{ github.event.commit.state }}

      - name: Find relevant PR
        if: github.event.commit.state == 'success'
        uses: jwalton/gh-find-current-pr@v1
        id: findPr
        with:
          sha: ${{ github.event.commit.sha }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - run: echo "Your PR is ${PR}"
        if: success() && steps.findPr.outputs.number
        env:
          PR: ${{ steps.findPr.outputs.number }}

      - name: Check if there is an existing comment
        if: success() && steps.findPr.outputs.number
        uses: peter-evans/find-comment@v1
        id: find_comment
        with:
          issue-number: ${{ steps.findPr.outputs.number }}
          comment-author: 'github-actions[bot]'
          body-includes: '[View the Screenshot Gallery][1]'

      - name: Create a new comment
        if: steps.find_comment.outputs.comment-id == 0
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ steps.findPr.outputs.number }}
          body: |
            :sparkles: [View the Screenshot Gallery][1] :sparkles:

            For commit ${{ github.event.commit.sha }}

            [1]: https://my-asset-host.com/screenshot-gallery/${{ github.event.commit.sha }}/index.html

      - name: Update an existing comment
        if: steps.find_comment.outputs.comment-id != 0
        uses: peter-evans/create-or-update-comment@v1
        with:
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          edit-mode: replace
          body: |
            :sparkles: [View the Screenshot Gallery][1] :sparkles:

            For commit ${{ github.event.commit.sha }}

            [1]: https://my-asset-host.com/screenshot-gallery/${{ github.event.commit.sha }}/index.html
